version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: auth-mysql
    restart: always
    environment:
      MYSQL_DATABASE: authdb
      MYSQL_USER: tholv
      MYSQL_PASSWORD: 123456
      MYSQL_ROOT_PASSWORD: 123456
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - shared-net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
  auth-service:
    build: .
    container_name: auth-service
    restart: always
    depends_on:
      - mysql
    environment:
      DB_USER: tholv
      DB_PASS: 123456
      DB_HOST: mysql
      DB_PORT: "3306"
      DB_NAME: authdb
    ports:
      - "8080:8080"
    networks:
      - shared-net
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - mysql

volumes:
  mysql_data:
networks:
  shared-net:
    driver: bridge